asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
cloudinary==1.44.0
dj-config-url==0.1.1
dj-database-url==3.0.0
Django==5.2.2
django-bootstrap5==25.1
django-ckeditor==6.7.3
django-js-asset==3.1.2
dotenv==0.9.9
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.4.0
