{% load static %}
<header class="masthead image-header" style="background-image: url('{% static background_image %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{ heading }}</h1>
                    <span class="subheading">{{ subheading }}</span>
                </div>
            </div>
        </div>
    </div>
</header>