{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead image-header" style="background-image: url('{% static "penguins/images/contact-me-penguin.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Контакти</h1>
                    <span class="subheading">Маєте питання? У мене є відповіді.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Маєте додаткові питання про пінгвінів? Заповніть форму нижче, щоб залишити повідомлення і я спробую знайти відповідь!</p>
                <div class="my-5">
                    <form id="contactForm" method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.name }}
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {% for error in form.name.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    
                        <div class="form-floating mb-3">
                            {{ form.phone }}
                            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                            {% for error in form.phone.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    
                        <div class="form-floating mb-3">
                            {{ form.message }}
                            <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                            {% for error in form.message.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Повідомлення успішно надіслано!</div>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">При надсиланні повідомлення сталась помилка!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Надіслати</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}