{% extends "base.html" %}
{% load static %}

<!-- Page Header-->
{% block header %}
<header class="masthead video-header">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'penguins/videos/penguins-walking.mp4' %}" type="video/mp4">
        Ваш браузер не підтримує тег відео.
    </video>
    <div class="overlay"></div>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Походка пінгвіна</h1>
                    <span class="subheading">Чому пінгвіни так дивно ходять?</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'post_detail' post.slug %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">Прочитайте статтю, щоб дізнатись деталі</h3>
                </a>
                <p class="post-meta">
                    Автор:
                    <a href="{% url 'about' %}">Пінгвінний експерт</a>,
                    {{ post.created_at }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            {% if user.is_authenticated and user.is_superuser %}
            <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary text-uppercase" href="{% url 'create_post' %}"
            >Створити новий пост</a
            >
            </div>
            {% endif %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#">Попередні статті →</a></div>
        </div>
    </div>
</div>
{% endblock %}
