{% extends 'base.html' %}
{% load static %}

<!-- Page Header-->
{% block header %}
<header class="masthead image-header" style="background-image: url('{{ post.header_image.url }}');">
    <div class="container position-relative px-4 px-lg-5">`
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{% block title %}{{ post.title }}{% endblock title %}</h1>
                    <h2 class="subheading">Прочитайте статтю, щоб дізнатись деталі</h2>
                    <span class="meta">
                        Автор:
                    <a href="{% url 'about' %}">Пінгвінний експерт</a>,
                    {{ post.created_at }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- Post Content-->
{% block content %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-content">
                <p>{{ post.content|safe }}</p>
                </div>
                {% if user.is_authenticated and user.is_superuser %}
                <div class="d-flex justify-content-end mb-4">
                  <a
                    class="btn btn-primary float-right"
                    href="{% url 'edit_post' post.id %}"
                    >Edit Post</a
                  >
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock content %}

