{% extends "base.html" %}
{% load static %}

<!-- Page Header-->
{% block header %}
{% include "partials/header.html" with background_image="penguins/images/register.jpg" heading="Зареєструватись" subheading="Ласкаво просимо!"%}
{% endblock %}
    
{% block content %}    
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            {% for error in form.username.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="form-floating mb-3">
                            {{ form.password1 }}
                            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            {% for error in form.password1.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    
                        <div class="form-floating mb-3">
                            {{ form.password2 }}
                            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                            {% for error in form.password2.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    
                        <br />
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Увійти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}